#blog_section {
    padding-bottom: 190px;

  .blog-loop {
    max-width: 1100px;

    .post_grid {
      margin-top: 0;

      .post_item {
        
        .post_thumbnail {

          img {
            // filter: grayscale(1);
            transition: .25s ease-out;
          }

          &:hover {
            
          }
        }

        .post_meta {
            // display: none;
            // position: absolute;
        }
      }
    }

    .btn {
      margin-top: 16px;
      margin-inline: auto;
    }
  }
}
