#blog_section {
    padding-bottom: 190px;

  .blog-loop {
    max-width: 1000px;
    .post_grid {
      margin-top: 0;

      .post_item {
        flex-basis: calc(33.3333% - 40px);
        margin: 20px;

        @media (max-width: 1000px) {
            flex: 1 1 calc(50% - 40px);
        }

        @media (max-width: 576px) {
            flex: 1 1 100%;
        }

        .post_meta {
            display: none;
        }
      }
    }
  }
}
