$color-light: #EEEEEE;
$color-dark-500: #393E46;
$color-dark-700: rgb(133, 138, 146);
$color-dark-800: #0B0E16;
$color-blue-500: #00ADB5;
$color-blue-600: #00b6ff;
$color-blue-700: #0099ff;

$dashboard-white: #eeeeee;
$dashboard-blue: #7971ea;
$dashboard-gray: #393e46;
$dashboard-black: #222831;

$background-gradient: -webkit-linear-gradient(-60deg, rgba(249, 85, 176, 1) 0%, rgba(235, 125, 14, 1) 100%);
$background-gradient-reverse: -webkit-linear-gradient(-60deg,rgba(235, 125, 14, 1) 0%,rgba(249, 85, 176, 1) 100%);
$background-gradient-secondary: -webkit-linear-gradient(-60deg, #f955b0 0%, #ff6790 20%, #ff8873 40%, #ffaf5f 75%, #ffd55b 90%, #f9f871 100%);