@import "./colors";

.logged_in {
  height: 100vh;
  background-color: $dashboard-black;
  padding: 25px;
}

.login-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login_card {
    background-color: $dashboard-blue;
    width: 100%;
    max-width: 450px;
    padding: 35px 20px;
    border-radius: 25px;

    h3 {
      font-size: 21px;
      color: $dashboard-white;
      margin-top: 0;
      margin-bottom: 45px;
      text-align: center;
    }

    .login-button-area {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .btn-login {
        border: none;
        background: $dashboard-black;
        color: $dashboard-white;
        padding: 16px 20px;
        width: 100%;
        font-size: 18px;
        border-radius: 8px;
      }
    }
  }
}

#dashboard {
  min-height: 95vh;
  margin: 25px;
  border-radius: 12px;
  padding-right: 25px;
  background: $dashboard-gray;
  // overflow: hidden;

  .dashboard-block {
    border-radius: 12px;
    padding: 10px;
  }

  aside {
    display: flex;
    flex-direction: column;
    gap: 35px;
    background-color: $dashboard-blue;
    width: 250px;
    box-shadow: 5px 0 20px $dashboard-black;
    padding: 25px;
    overflow: hidden;
    position: relative;

    > img {
      top: -100px;
      left: -80px;
      z-index: 1;
      border-radius: 1000px;
    }

    .user_meta {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      padding: 16px 15px;
      background-color: $dashboard-gray;
      border-radius: 1000px;
      box-shadow: 5px 6px 16px #0000005c;

      img {
        width: 100%;
        max-width: 46px;
        border-radius: 100%;
        object-fit: cover;
      }

      span {
        color: $dashboard-white;
        font-size: 14px;
        font-weight: 600;
      }
    }

    nav.sidebar-nav {
      z-index: 10;
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
          margin: 0;
          padding: 0;

          ul {
            padding-left: 20px;

            li {
              a {
                padding: 10px;
              }
            }
          }
        }
      }

      a {
        display: block;
        width: 100%;
        padding: 16px;
        line-height: 1;
        border-bottom: 1px solid #08080844;
        transition: 0.15s ease-out;

        &:hover {
          color: $dashboard-white;
          background-color: $dashboard-gray;
        }
      }
    }

    button {
      margin-top: auto;
    }
  }

  &.dashboard-container {
    display: flex;
  }

  .dashboard-content {
    padding: 25px;
    width: 90%;
    max-height: 95vh;
    overflow-y: scroll;
  }

  .btn {
    border: none;
    padding: 10px 21px;
    color: $dashboard-white;
    font-size: 18px;
    border-radius: 50px;
    display: block;
    cursor: pointer;
    transition: 0.15s ease-in-out;

    &.btn-primary {
      background-color: $dashboard-blue;

      &:hover {
        color: $dashboard-black;
        background-color: $dashboard-white;
        box-shadow: 5px 5px 20px $dashboard-black;
      }
    }

    &.btn-secondary {
      background-color: $dashboard-white;
      color: $dashboard-gray;

      &:hover {
        background-color: $dashboard-gray;
        color: $dashboard-white;
      }
    }
  }

  .post_creation-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template:
      "editor editor editor featured"
      "editor editor editor featured"
      "none none button fetured";
    gap: 30px;

    .featured_image-block {
      // max-width: 300px;
      background-color: $dashboard-blue;

      h5 {
        margin: 0;
        margin-bottom: 16px;
        color: $dashboard-white;
      }

      img {
        width: 100%;
        max-height: 200px;
        object-fit: contain;
      }

      > div.flex {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        justify-content: center;
        align-items: flex-end;

        label {
          display: flex;
          overflow: hidden;
          position: relative;
          justify-content: center;
          align-items: center;
          border-radius: 0.375rem;
          width: 9rem;
          height: 2.5rem;
          color: $dashboard-black;
          background-color: $dashboard-white;
          cursor: pointer;

          input {
            display: none;
          }
        }

        > div {
          display: none;
        }
      }

      .featured_image-preview {
        border: 1px solid $dashboard-gray;
        padding-top: 20px;
        padding-bottom: 18px;
        margin-bottom: 10px;
      }
    }
  }

  .create-article {
    background-color: #171717;
    padding: 25px 35px;
    border-radius: 12px;
    grid-area: editor;

    .editor_post-title--wrapper {
      min-height: 100px;
      margin-bottom: 50px;

      textarea.editor_post-title {
        background-color: transparent;
        border: none;
        font-size: 71px;
        font-family: "Arial";
        font-weight: 700;
        color: $dashboard-blue;
        padding-left: 50px;
        overflow: hidden;

        &::spelling-error {
          text-decoration: none;
        }

        &:focus {
          border: 0;
          outline: 0;
        }
      }
    }

    #editor {
      font-size: 18px;
      color: rgb(217, 217, 217);

      .ce-block__content,
      .ce-toolbar__content {
        max-width: calc(98% - 80px) !important;
      }
      .cdx-block {
        max-width: 98% !important;
      }

      .ce-toolbar__plus {
        color: white;

        &::selection {
          background-color: $dashboard-blue;
        }
      }
    }

    .editor_post--tip {
      color: white;

      kbd {
        background-color: $dashboard-blue;
        border-radius: 4px;
        padding: 1px 3px;
      }
    }
  }

  .editor_post-button {
    grid-area: button;
  }

  #posts_table {
    tr:nth-child(even) {
      background-color: rgba(211, 211, 211, 0.208);
    }
  }
}
