@import "./colors";

.logged_in {
  height: 100vh;
  background-color: $dashboard-black;
  padding: 25px;
}

#dashboard {
  min-height: 95vh;
  margin: 25px;
  border-radius: 12px;
  padding-right: 25px;
  background: $dashboard-gray;
  // overflow: hidden;

  aside {
    display: flex;
    flex-direction: column;
    gap: 35px;
    background-color: $dashboard-blue;
    width: 250px;
    box-shadow: 5px 0 20px $dashboard-black;
    padding: 25px;

    .user_meta {
      display: flex;
      align-items: center;
      gap: 16px;
      padding: 10px 15px;
      background-color: $dashboard-gray;
      border-radius: 1000px;
      box-shadow: 5px 6px 16px #0000005c;

      img {
        width: 100%;
        max-width: 46px;
        border-radius: 100%;
        object-fit: cover;
      }

      span {
        color: $dashboard-white;
        font-size: 14px;
        font-weight: 600;
      }
    }

    nav.sidebar-nav {
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
          margin: 0;
          padding: 0;

          ul {
            padding-left: 20px;

            li {
              a {
                padding: 10px;
              }
            }
          }
        }
      }

      a {
        display: block;
        width: 100%;
        padding: 16px;
        line-height: 1;
        border-bottom: 1px solid #08080844;
        transition: 0.15s ease-out;

        &:hover {
          color: $dashboard-white;
          background-color: $dashboard-gray;
        }
      }
    }

    button {
      margin-top: auto;
    }
  }

  &.dashboard-container {
    display: flex;
  }

  .dashboard-content {
    padding: 25px;
    width: 90%;
  }

  .btn {
    border: none;
    padding: 10px 21px;
    color: $dashboard-white;
    font-size: 18px;
    border-radius: 50px;
    display: block;
    cursor: pointer;
    transition: 0.15s ease-in-out;

    &.btn-primary {
      background-color: $dashboard-blue;

      &:hover {
        color: $dashboard-black;
        background-color: $dashboard-white;
        box-shadow: 5px 5px 20px $dashboard-black;
      }
    }

    &.btn-secondary {
      background-color: $dashboard-white;
      color: $dashboard-gray;

      &:hover {
        background-color: $dashboard-gray;
        color: $dashboard-white;
      }
    }
  }

  .create-article {
    max-width: 1600px;
    background-color: #171717;
    padding: 25px 35px;
    border-radius: 12px;

    textarea {
      background-color: transparent;
      border: none;
      // line-height: 1;
      font-size: 71px;
      font-family: "Arial";
      font-weight: 700;
      color: $dashboard-blue;
      padding-left: 50px;

      &::spelling-error {
        text-decoration: none;
      }

      &:focus {
        border: 0;
        border-bottom: 1px solid white;
        outline: 0;
      }
    }

    #editor {
      // background-color: white;
      border-top: 1px solid $dashboard-black;
      font-size: 18px;
      color: rgb(217, 217, 217);

      .ce-block__content, .ce-toolbar__content { max-width:calc(98% - 80px) !important; } .cdx-block { max-width: 98% !important; }

      .ce-toolbar__plus {
        color: white;

        &::selection {
          background-color: $dashboard-blue;
        }
      }
    }

    input[type="text"] {
      font-size: 26px;
    }

    button {
      align-self: flex-end;
    }
  }

  #posts_table {
    tr:nth-child(even) {
        background-color: rgba(211, 211, 211, 0.208);
    }
  }
}
