@import "./colors";

.logged_in {
  height: 100vh;
  background-color: $dashboard-black;
  padding: 25px;
}

.login-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  position: relative;
  padding: 30px 15px 30px 15px;

  .login-logo {
    width: 200px;
    height: auto;
  }

  .login_card {
    background-color: rgb(28, 28, 28);
    width: 100%;
    max-width: 450px;
    padding: 15px 20px 35px 20px;
    border-radius: 25px;

    h3 {
      font-size: 21px;
      color: $dashboard-white;
      margin-top: 0;
      margin-bottom: 15px;
      text-align: center;
    }

    p {
      text-align: center;
    }

    .login-button-area {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .btn-login {
        border: none;
        background: $dashboard-black;
        color: $dashboard-white;
        padding: 16px 20px;
        width: 100%;
        font-size: 18px;
        border-radius: 8px;

        &.google {
          background-color: rgb(236, 236, 236);

          color: black;

          span {
            font-weight: 600;

            &:nth-child(1) {
              color: #4285f4;
            }

            &:nth-child(2) {
              color: #ea4335;
            }

            &:nth-child(3) {
              color: #fbbc05;
            }

            &:nth-child(4) {
              color: #4285f4;
            }

            &:nth-child(5) {
              color: #34a853;
            }

            &:nth-child(6) {
              color: #164e8c;
            }
          }
        }

        &.discord {
          background-color: #7289da;
        }
      }
    }
  }
}

#dashboard {
  min-height: 100vh;
  // margin: 25px;
  // border-radius: 12px;
  // padding-right: 25px;
  background: rgb(22, 22, 22);
  // overflow: hidden;

  .dashboard-block {
    border-radius: 12px;
    padding: 10px;
  }

  aside {
    display: flex;
    flex-direction: column;
    gap: 35px;
    background-color: rgb(28, 28, 28);
    width: 250px;
    padding: 25px;
    overflow: hidden;
    position: relative;
    border-right: 1px solid $dashboard-white-border;

    .user_meta {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;

      img {
        width: 100%;
        max-width: 46px;
        border-radius: 100%;
        object-fit: cover;
      }

      span {
        display: block;
        color: white;
        font-size: 14px;
        font-weight: 400;
        font-family: "Interim", sans-serif;

        &.user_meta-role {
          color: rgba(255, 255, 255, 0.364);
        }
      }
    }

    nav.sidebar-nav {
      z-index: 10;
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
          margin: 0;
          padding: 0;

          ul {
            padding-left: 20px;

            li {
              a {
                padding: 8px 12px;
              }
            }
          }
        }
      }

      a {
        display: block;
        width: 100%;
        padding: 8px 12px;
        font-size: 13px;
        line-height: 1;
        border-radius: 6px;
        transition: 0.15s ease-out;
        color: rgba(255, 255, 255, 0.604);

        &:hover {
          color: white;
        }

        &.active {
          border: 1px solid rgba(238, 238, 238, 0.056);
          background-color: rgb(43, 43, 43);
          box-shadow: rgba(0, 0, 0, 0.036) 0px 0.301615px 0.301615px -0.75px,
            rgba(0, 0, 0, 0.04) 0px 1.14511px 1.14511px -1.5px,
            rgba(0, 0, 0, 0.044) 0px 5px 5px -2.25px;
        }
      }
    }

    button {
      margin-top: auto;
    }
  }

  &.dashboard-container {
    display: flex;
  }

  .dashboard-content {
    padding: 25px;
    width: 90%;
    max-height: 100vh;
    overflow-y: scroll;
  }

  @media (max-width: 726px) {
    aside {
      position: fixed;
      top: 0;
      height: 80px;
      width: 100%;
      padding: 5px;
      flex-direction: row;
      justify-content: flex-start;

      .sidebar-nav {
        position: fixed;
        right: 0;
        height: 100%;
        background-color: inherit;
        padding: 25px 16px;
      }
    }

    .dashboard-content {
      margin-top: 100px;
      width: 100%;
      max-width: 100%;
    }
  }

  .btn {
    border: none;
    padding: 10px 21px;
    color: $dashboard-gray;
    font-size: 18px;
    border-radius: 50px;
    display: block;
    cursor: pointer;
    transition: 0.15s ease-in-out;

    &.btn-primary {
      background-color: $dashboard-white;

      &:hover {
        color: $dashboard-white;
        background-color: $dashboard-gray;
        box-shadow: 5px 5px 20px $dashboard-black;
      }
    }

    &.btn-secondary {
      background-color: $dashboard-white;
      color: $dashboard-gray;

      &:hover {
        background-color: $dashboard-gray;
        color: $dashboard-white;
      }
    }
  }

  .post_creation-wrapper {
    display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: 1fr 1fr;
    grid-template:
      "editor editor editor editor featured"
      "editor editor editor editor featured"
      "none none  none button featured";
    gap: 30px;

    .featured_image-block {
      // max-height: 500px;
      background-color: $dashboard-light-gray;
      border: 1px solid rgba(238, 238, 238, 0.067);

      h5 {
        margin: 0;
        margin-bottom: 16px;
        color: $dashboard-white;
      }

      .featured_image-preview {
        border: 1px solid $dashboard-gray;
        padding: 20px;
        width: 100%;
        max-width: 350px;
        margin-bottom: 10px;
        max-height: 500px;
        margin-inline: auto;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .create-article {
    background-color: #171717;
    padding: 25px 35px;
    border-radius: 12px;
    grid-area: editor;

    .editor_post-title--wrapper {
      min-height: 100px;
      margin-bottom: 50px;

      textarea.editor_post-title {
        background-color: transparent;
        border: none;
        font-size: 71px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        color: $dashboard-blue;
        padding-left: 50px;
        overflow: hidden;

        &::spelling-error {
          text-decoration: none;
        }

        &:focus {
          border: 0;
          outline: 0;
        }
      }
    }

    #editor {
      font-size: 18px;
      color: rgb(217, 217, 217);

      .ce-block__content,
      .ce-toolbar__content {
        max-width: calc(98% - 80px) !important;
      }
      .cdx-block {
        max-width: 98% !important;
      }

      .ce-toolbar__plus {
        color: white;

        &::selection {
          background-color: $dashboard-light-gray;
        }
      }
    }

    .editor_post--tip {
      color: white;

      kbd {
        background-color: $dashboard-light-gray;
        border-radius: 4px;
        padding: 1px 3px;
      }
    }
  }

  .editor_post-button {
    grid-area: button;
  }
}

.welcome_title {
  text-transform: capitalize;
  margin-bottom: 50px;
}

.daily-posts-block {
  max-width: 600px;
  padding: 16px;
  background-color: rgb(33, 33, 33);
  border-radius: 12px;
  border: 1px solid rgba(207, 207, 207, 0.068);

  canvas {
    width: 100%;
  }
}
