@import "./fonts";
@import "./src/components/Cursor/_cursor.scss";
@import "./dashboard.scss";
@import "./src/components/Sidebar/Sidebar.scss";
@import "./src/components/Hero/Hero.scss";
@import "./src/components/Experience/Experience.scss";
@import "./src/components/Projects/Projects.scss";
@import "./src/components/Footer/Footer.scss";
@import "./blog.scss";
@import "./post.scss";
@import "./src/components/elements/PostGrid.scss";
@import "./src/Dashboard/Posts/PostTable.scss";
@import "_responsive.scss";

$dark-background: #0b0e16;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: $dark-background;
  color: #eee;
  overflow-x: hidden;
  font-weight: 400;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  font-size: 48px;
  font-weight: 600;
  line-height: 40px;

  @media (max-width: $tablet) {
    font-size: 32px;
  }
}

h4 {
  font-size: 32px;
  line-height: 30px;
  margin: 0;
}

.container {
  width: 100%;
  margin-inline: auto;
  padding: 0 18px;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1356px;
  }
}

.section-subtitle {
  color: #9c9d9f;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 8.16px;
  text-transform: uppercase;

  @media (max-width: $small) {
    font-size: 12px;
    // line-height: 45px;
    letter-spacing: 6.16px;
  }
}

.section-title {
  color: #fff;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  text-transform: capitalize;
  margin-bottom: 160px;
  margin-top: 45px;

  @media (max-width: $small) {
    font-size: 42px;
    line-height: 45px;
    margin-bottom: 100px;
    margin-top: 20px;
  }
}

#adminbar {
  position: sticky;
  top: 0;
  display: flex;
  gap: 16px;
  width: 100%;
  background: $dashboard-black;
  z-index: 9999999;
  padding: 5px 10px;

  a {
    background-color: $dashboard-light-gray;
    border-radius: 6px;
    font-size: 14px;
    padding: 2px 8px;
  }
}

.gradients-container {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.btn {
  width: fit-content;
}

.transition-div {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 100%;
  width: 100vw;
  height: 100vh;
  background-color: aquamarine;
  // z-index: 5000;

  &.one {
    background: #2e2257;
    z-index: 6000;
  }

  &.two {
    background: #3b2d71;
    z-index: 7000;
  }

  &.three {
    background: #4b3792;
    z-index: 8000;
  }
}