@import "../../styles/responsive.scss";

#stack_section {
  padding-top: 100px;
  padding-bottom: 100px;

  // .section-title {
  //     margin-bottom: 100px;
  // }

  @media (max-width: $small) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.stack-icon-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

  div {
    display: block;
    flex: 0 0 calc(100% / 10);
    box-sizing: border-box;
    margin-bottom: 100px;
    text-align: center;
    border-radius: 25px;
    padding-top: 20px;
    padding-bottom: 15px;

    &:hover {
      background: rgba(255, 255, 255, 0.022);

      img {
        filter: grayscale(0)
      }
    }

    img {
      filter: grayscale(1);
      transition: filter 0.25s ease-in;

      &.nextjs {
        filter: invert(1);
      }
    }
    @media (max-width: $medium) {
      margin-bottom: 70px;
      img {
        filter: grayscale(0);
      }
    }
  }
}
